/* css form */
.form {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.form .item {
  display: flex;
  flex-direction: column;
}

.form .form_input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn_add {
  padding: 11px;
  width: 100%;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-image: linear-gradient(90deg,#5efce8,#736efe);
  color: #fff;
  box-shadow: 4px 4px 4px 1px rgba(0,0,0,.2);
}

.btn_add:hover {
  background-image: linear-gradient(90deg,#1dd6be,#3e38e0);
  cursor: pointer;
}

.item label {
  margin-bottom: 10px;
}
